{% extends "base.html" %}

{% block title %}Modifier un article{% endblock %}

{% block content %}
<p>Tous les champs sont obligatoires.</p>

<form class="needs-validation" action="{{ url_for('edit_article_page', identifier=article[1]) }}" method="post" id="article-edit-form">
    <div class="mb-3">
        <label class="form-label" for="title">Titre</label>
        <input class="form-control" type="text" id="title" name="title" aria-describedby="title-help" value="{{ article[0] }}" required>
        <div class="form-text" id="title-help">De 1 à 100 caractères.</div>
    </div>

    <div class="mb-3 col-6">
        <label class="form-label" for="identifier">Identifiant</label>
        <input class="form-control" type="text" id="identifier" name="identifier" value="{{ article[1] }}" readonly>
        <div class="form-text" id="identifier-help">Ne peut être modifié.</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="author">Auteur</label>
        <input class="form-control" type="text" id="author" name="author" value="{{ article[2] }}" readonly>
        <div class="form-text" id="author-help">Ne peut être modifié.</div>
    </div>

    <div class="mb-3 col-6">
        <label class="form-label" for="publication_date">Date de publication</label>
        <input class="form-control" type="date" data-format="0000-00-00" id="publication_date" name="publication_date" value="{{ article[3] }}" readonly>
        <div class="form-text" id="publication_date-help">Ne peut être modifié.</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="paragraph">Paragraphe</label>
        <textarea class="form-control" id="paragraph" name="paragraph" aria-describedby="paragraph-help" rows="4" required>{{ article[4] }}</textarea>
        <div class="form-text" id="paragraph-help">De 1 à 500 caractères.</div>
    </div>

    <input class="btn btn-primary" type="submit" value="Soumettre" id="article-edit-submit">
</form>
{% endblock %}